@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #e0dfdf;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*  height: 100vh; */
  scroll-snap-align: center;
}

button {
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 30px;
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e0dfdf;
}

.navbar .logo {
  text-decoration: none;
  color: #fff;
  float: left;
  margin-top: 15px;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
}

.nav__menu {
  text-align: right;
  height: 70px;
  line-height: 70px;
}
.menu a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  margin: 0 10px;
  line-height: 70px;
  font-size: 13px;
}

.menu :hover {
  border-top: 2px solid #7f807e;
  border-bottom: 2px solid #7f807e;
  padding: 6px 0;
}

label {
  font-size: 26px;
  line-height: 70px;
  color: #bcc897;
  display: none;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 750px) {
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a {
    display: block;
    margin: 0;
    opacity: 0.8;
    background-color: #c2c1c1;
    color: #000000;
    line-height: 50px;
    padding: 0 40px;
    text-align: center;
  }
  #toggle:checked + .menu {
    display: block;
    float: left;
  }
}

/* Header Announcement*/

.announcement {
  background-color: #bdbdbd;
  padding: 10px;
  margin-top: 90px;
  display: absolute;
}

.announcement-text {
  color: #000000;
  text-align: right;
  font-size: 13px;
}

/* SlideShow */

.slideshow-container {
  position: relative;
}
/*   margin: 30px 30px; */

.slideshow-container img {
  opacity: 0.8;
  position: relative;
  max-width: auto;
  max-height: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #0e0d0d;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 70%;
  right: 5%;
  /*  width: 100%; */
  text-align: right;
}

.text button {
  background-color: transparent;
  border: 2px solid #bdbdbd;
  color: #373636;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
}

.text-2 {
  color: #0e0d0d;
  font-size: 25px;
  padding: 8px 12px;
  margin-left: 3%;
  position: absolute;
  top: 40%;
  /*   width: 100%; */
  text-align: left;
}

.text-2 button {
  background-color: transparent;
  border: 2px solid #bdbdbd;
  color: #373636;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* About */

.about {
  /*   height: 100%; */
  /*   margin: 2.5%; */
}

.about-container {
  justify-items: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
}

.about img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #b0be77;
  
}

.about-subtitle {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.about-text {
  margin-bottom: var(--mb-4);
}

.about-profession {
  display: block;
  margin-bottom: var(--mb-4);
}

.about-numbers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 200px;
 /*  background-color: #bdbdbd; */
  
}

.about-anos {
  background-color: #b0be77;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-clients {
  background-color: #b0be77;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-artigos {
  background-color: #b0be77;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Plans*/

.plans-title {
  text-align: center;
}

.plans-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  line-height: 3;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.plan-anual {
  background-color: #c2c1c1;
  padding: 60px;
  color: #3f4620;
 
}

.about-8 {
  color: #3f4620;
}

.plan-anual button {
  background-color: #b0be77;
  border: 1px solid #000000;
  padding: 10px;
  font-weight: bold;
}

.plan-semestral button {
  background-color: #c2c1c1;
  border: 1px solid #000000;
  padding: 10px;
  font-weight: bold;
}

.plan-semestral {
  background-color: #b0be77;
  padding: 60px;
  color: #373636;
  
}
