@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap");

html,
body {
  font-family: "Nunito Sans", sans-serif;
  max-width: 100vw;
  background-color: #e0dfdf;
}

button {
  font-family: "Nunito Sans", sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Navbar */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  text-decoration: none;
  color: #fff;
  float: left;
  margin-top: 15px;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
}

.nav__menu {
  text-align: right;
  height: 70px;
  line-height: 70px;
}
.menu a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  margin: 0 10px;
  line-height: 70px;
  font-size: 13px;
}

.menu :hover {
  border-top: 2px solid #bcc897;
  border-bottom: 2px solid #bcc897;
  padding: 6px 0;
}

label {
  font-size: 26px;
  line-height: 70px;
  color: #bcc897;
  display: none;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 750px) {
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a {
    display: block;
    margin: 0;
    opacity: 0.5;
    background-color: #c2c1c1;
    color: #000000;
    line-height: 50px;
    padding: 0 40px;
    text-align: center;
  }
  #toggle:checked + .menu {
    display: block;
    float: left;
  }
}

/* Header Announcement*/

.announcement {
  background-color: #bdbdbd;
  padding: 10px;
  display: absolute;
}

.announcement-text {
  color: #000000;
  text-align: right;
  font-size: 13px;
}

/* SlideShow */

.slideshow {
  margin-top: 100px;
  height: 500px;
}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: 30px 30px;
  max-height: auto;
}

.slideshow-container img {
  opacity: 0.8;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #0e0d0d;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 70%;
  right: 5%;
  width: 100%;
  text-align: right;
}

.text button {
  background-color: transparent;
  border: 2px solid #bdbdbd;
  color: #373636;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
}

.text-2 {
  color: #0e0d0d;
  font-size: 25px;
  padding: 8px 12px;
  margin-left: 3%;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: left;
}

.text-2 button {
  background-color: transparent;
  border: 2px solid #bdbdbd;
  color: #373636;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* About */

.about {
  height: 100%;
  background-color: #bdbdbd;
  margin: 2.5%;
}

.about-container {
  justify-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 14px;
}

.about img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #b0be77;
}

.about-subtitle {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.about-text {
  margin-bottom: var(--mb-4);
}

.about-profession {
  display: block;
  margin-bottom: var(--mb-4);
}
